.container {
  max-width: 800px;
  margin-left: 650px;
  padding: 20px;
}


h1 {
  margin-left:675px;
  font-style: italic;
  color:green;
}

h4 {
  font-style: italic;
  color:blue;
}

p {
  font-style: italic;
  color:red;
}


